{% extends "base.html" %}
{% block title %}about page{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}%}
{% block aboutcurrent %}(current){% endblock aboutcurrent %}
{% load static %}
{% block body %}
{% load static %}
<!-- Page Content -->
<!-- About Page Starts Here -->
<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading mt-0">
                    <div class="line-dec"></div>
                    <h1>About Us</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-image">
                    <img src="/static/img/about-us.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Phasellus vel interdum elit</h4>
                    <p> Macrame is a crafting technique that uses knots to create various textiles. Since
                        this art form has regained popularity in recent years, crafters and artists are coming up with
                        innovative ways to take macrame beyond the basic plant hangers and wall hangings.
                        This age-old practice has gone in and out of popularity for thousands of years. However, this
                        method will always be around to some degree because of its practicality. Remarkably, you can
                        make items like table runners and key chains using just your hands and a couple of inexpensive
                        supplies.
                        If you want to learn more about how macrame came to be and how you can get started with a
                        macrame project, keep reading. </p>
                    <br>
                    <p>This age-old practice has gone in and out of popularity for thousands of years. However, this
                        method will always be around to some degree because of its practicality. Remarkably, you can
                        make items like table runners and key chains using just your hands and a couple of inexpensive
                        supplies.</p>
                    <br>
                    <p>Macrame is a technique or method of crafting a textile that uses several knots to form the basic
                        shape and function of the piece. Each knot can be created with your hands, and there are no
                        other tools required other than a mounting ring to keep the item in place while you work.</p>
                    <br>
                    <p>
                        Thank you.</p>
                    <div class="share">
                        <h6>Find us on: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Page Ends Here -->

{% endblock body %}